/* 기본 Next.js 초기화용 */
html,
body {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0;1&display=swap');

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  white-space: nowrap;
}
